$primary_color: white;

body {
  background-color: $primary_color;
  font: {
    family: Lora, Helvetica, Arial;
    size: 14px;
  }
  padding-bottom: 10px;
}

html {
  background-color: #0086b3;
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

h1 {
  color: white;
  font-family: 'Satisfy', serif
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}

p {
  padding-top: 5px;
  white-space: pre-line;
}